* {
  font-family: montserrat;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  margin: 50px auto;
  width: 100%;
  height: 300px;
}

td,
th {
  border: 2px solid black;

  text-align: left;
  font-size: larger;
  font-weight: 600;
}

.org {
  background-color: orange;
  color: white;
}

.mel {
  background-color: blue;
  color: white;
}
.zal {
  background-color: green;
  color: white;
}
